@use './header.scss';
@forward './footer.scss';

@forward './hero-section.scss';
@forward './services-section.scss';
@forward './why-section.scss';
@forward './best-projects-section.scss';
@forward './testimonials-section.scss';
@forward './welcome-section.scss';
@forward './form-section.scss';
@forward './employees-section.scss';
@forward './about-section.scss';
@forward './privacy-section.scss';
@forward './status-section.scss';
@forward './contacts-section.scss';
@forward './articles-section.scss';
@forward './article-section.scss';
@forward './interior-section.scss';