footer {
    .footer-block {
        .container {
            .item {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
            }
        }
    }
}