@use '../ui/kit.scss' as kit;
@use '../ui/mixins.scss' as mixin;
@use '../ui/containers.scss' as container;
.form-section {
    &.modal {
        .form-block {
            .container {
                  .name {
                        @include kit.heading_1;
                        grid-column: span 2;
                    }
            }
        }
    }
    .form-block {
        .container {
            .name-block {
                grid-column: span 5;
                 @include container.mobile() {
                        grid-column: span 2;
                        display: flex;
                        flex-direction: column
                    }
                @include container.grid(5);
                .name {
                    @include kit.heading_2;  
                    &.top {
                        grid-column: 2 / span 4;
                         @include container.mobile() {
                        grid-column: span 2;
                    }
                    }
                    &.bottom {
                        grid-column: 3 / span 2;
                         @include container.mobile() {
                        grid-column: span 2;
                    }
                    }
                     @include container.mobile() {
                        grid-column: span 2;
                    }
                }
            }
            .title {
                grid-column: 1 / span 1;
                 @include container.mobile() {
                       display: none;
                    }
            }
            .form {
                grid-column: 3 / span 3;
                 @include container.mobile() {
                        grid-column: span 2;
                        row-gap: 1rem
                    }
                @include container.grid(3, 2.5rem);
                row-gap: 0;
                align-items: center;
                input,
                textarea {
                    padding: 1rem 0;
                    @include kit.text_1;
                    border-bottom: .0625rem solid kit.$border-primary;
                    grid-column: span 3;
                    &:placeholder {
                        @include kit.text_1;
                        text-align: start;
                    }
                    &.message {
                        height: 12rem;
                        resize: none;
                        margin-bottom: 4rem;
                    }
                }
                .button {
                     @include container.mobile() {
                        grid-column: span 3;
                    }
                }
                .confirm {
                    grid-column: span 1;
                    @include kit.description;
                    color: kit.$text-primary-subduded-42;
                     @include container.mobile() {
                        grid-column: span 3;
                        text-align: center;
                    }
                }
            }
        }
    }
}