@use '../ui/kit.scss' as kit;
@use '../ui/mixins.scss' as mixin;
@use '../ui/containers.scss' as container;

.privacy-section {
    .privacy-block {
        .container {
            .name {
                @include kit.heading_1;
                grid-column: 2 / span 3;

                @include container.mobile() {
                    grid-column: span 2;
                }

                .link {
                    @include container.mobile() {
                        grid-column: span 2;
                    }
                }
            }

            .privacy-holder {
                grid-column: 2 / span 3;
                @include container.grid(3, 2.5rem);

                .privacy {
                    @include kit.text_1;

                    span {
                        font-weight: 500;
                    }
                }

                @include container.mobile() {
                    grid-column: span 2;
                    @include mixin.df_fdc(1.5rem);
                }

            }
        }
    }
}