@use '../ui/mixins.scss' as mixin;
@use '../ui/kit.scss' as kit;
.services-section {
    .services-block {
        .container {
            .service {
                @include mixin.df_fdc(1.25rem);
                grid-column: span 2;
                .img {
                    max-width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .info-block {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .desc {
                        @include mixin.df_fdc(.25rem);
                        .title {
                            @include kit.button_1;
                            color: kit.$text-primary;
                        }
                        .tarif {
                            @include kit.text_1;
                            color: kit.$text-primary-subduded-42;
                        }
                    }
                }
                &.first {
                    grid-column: span 3;
                }
            }
        }
    }
}