@use '../ui/kit.scss' as kit;
@use '../ui/mixins.scss' as mixin;
@use '../ui/containers.scss' as container;
.testimonials-section {
    .testimonials-block {
        .container {
             @include container.mobile() {
                       row-gap: 4rem;
                    }
            .title {
                grid-column: 1 / span 1;
                 @include container.mobile() {
                       grid-column: span 1;
                    }
            }

            .link {
                grid-column: 5 / span 1;
                justify-content: end;
                &.start {
                    justify-content: start;
                    grid-column: 1;
                }
                 @include container.mobile() {
                       grid-column: span 1;
                    }
            }
            .name-title {
              @include kit.heading_1;
                display: flex;
                &::after {
                    content: '148';
                    @include kit.button_1;
                    color: kit.$text-primary-subduded-32;
                }
                 @include container.mobile() {
                       grid-column: span 2;
                    }
            }
            .desc {
                grid-column: 1 / span 2;
                @include kit.subheading;
                @include container.mobile() {
                       grid-column: span 2;
                    }
            }

            .swiper-slide,
            .item {
                @include mixin.df_fdc(1rem);
                grid-column: span 1;
                .top {
                    display: flex;
                    gap: 1rem;
                    padding-bottom: 1rem;
                    border-bottom: .0625rem solid kit.$border-primary;

                    .count {
                        display: flex;
                        flex: 1;
                        justify-content: end;
                        @include kit.text_1;
                    }

                    .avatar {
                        max-width: 6rem;

                        img {
                            border-radius: 100rem;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .info {
                        .name {
                            @include kit.heading_3;
                        }

                        .date {
                            @include kit.text_1;
                        }
                    }
                }

                .bottom {
                    @include kit.text_1;
                }
            }
            .item-holder {
                @include container.grid(2);
                gap: 2.5rem;
                grid-column: 2 / span 4;
            }
            .slider {
                grid-column: span 3;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    pointer-events: none;
                    /* Это позволяет кликам проходить сквозь псевдоэлемент */
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 80%, #FFFFFF 100%);
                }

                .testimonialsSwiper {
                    width: 100%;
                    position: relative;
                    z-index: 1;
                }

                .btn-block {
                    display: flex;
                    justify-content: center;
                    gap: 1.25rem;
                    margin-top: 2.5rem;

                    .swiper-btn {
                        display: flex;
                        padding: 1.25rem;
                        border: .0625rem kit.$border-primary-subduded-32 solid;
                        border-radius: 1000rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}