@use '../ui/kit.scss' as kit;
@use '../ui/mixins.scss' as mixin;
@use '../ui/containers.scss' as container;

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 999;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.modal-container {
    background-color: white;
    width: 100%;
    max-width: 100vw;
    border-radius: .5rem .5rem 0 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
    max-height: 75vh;
    height: 100%;
    overflow-y: auto;

    .active & {
        transform: translateY(0);
    }

    @include container.mobile() {
        max-height: 100vh;
    }
}

.modal-header {
    padding: 1rem 1.25rem;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}