@use './containers.scss' as mobile;
@use './kit.scss' as kit;

* {
    cursor: none;
}

html {
    background-color: #fff;
    font-size: 16px;
    font-family: "Inter", sans-serif;

    @include mobile.mobile() {
        font-size: 12px;
    }
}

body {
    color: kit.$text-primary;
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: kit.$text-primary;
}

input,
textarea {
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}

.custom-cursor {
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #212121;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 9999;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out, background-color 0.1s ease;
    will-change: transform;
     @include mobile.mobile() {
        display: none;
    }
}