.container {
  margin: 0 2.5rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 2.5rem;
}
@media (max-width: 768px) {
  .container {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}

.default-margin {
  padding: 2.5rem 0;
}

.button {
  display: flex;
  justify-content: center;
  height: fit-content;
  border-radius: 1000rem;
  text-align: center;
}
.button.small {
  padding: 1rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 130%;
  letter-spacing: -3%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}
.button.small.subdued {
  background-color: rgb(237, 237, 237);
  transition: background 0.3s ease-in-out;
}
.button.small.subdued:hover {
  background-color: rgb(219, 219, 219);
}
.button.small.primary {
  background-color: #212121;
  color: #FFFFFF;
  transition: 0.3s ease-in-out;
}
.button.small.primary:hover {
  background-color: #FFFFFF;
  color: #212121;
  outline: 0.0625rem solid #212121;
}
.button.basic {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -3%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  padding: 1rem 4rem;
}
.button.basic.primary {
  background-color: #212121;
  color: #FFFFFF;
  transition: 0.3s ease-in-out;
}
.button.basic.primary:hover {
  background-color: #FFFFFF;
  color: #212121;
  outline: 0.0625rem solid #212121;
}

.link.basic.regular {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}
.link.basic.regular:hover {
  opacity: 0.75;
}

.title {
  grid-column: span 5;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  color: rgb(148, 148, 148);
}

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

body {
  color: #212121;
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
  cursor: pointer;
}

header .header-block .container {
  gap: 0;
}
header .header-block .container .header-nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
header .header-block .container .contacts {
  grid-column: 4;
}
header .header-block .container .contacts ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
header .header-block .container .btn-block {
  display: flex;
  justify-content: end;
}

footer .footer-block .container .item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.hero-section .hero-block .container .hero-title {
  font-weight: 500;
  font-size: 8rem;
  line-height: 100%;
  letter-spacing: -4%;
}
.hero-section .hero-block .container .hero-title.top {
  grid-column: 2/span 4;
}
.hero-section .hero-block .container .hero-title.bottom {
  grid-column: span 5;
}
.hero-section .hero-block .container .desc-block {
  grid-column: 3/span 3;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.hero-section .hero-block .container .desc-block .desc {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  max-width: 44.5rem;
}
.hero-section .hero-block .container .desc-block .button {
  flex: 1;
  padding: 1rem 0;
}
.hero-section .hero-block .container .hero-image {
  grid-column: span 5;
  max-width: 100%;
  margin-top: 1.5rem;
}
.hero-section .hero-block .container .hero-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.services-section .services-block .container .service {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  grid-column: span 2;
}
.services-section .services-block .container .service .img {
  max-width: 100%;
  height: 100%;
}
.services-section .services-block .container .service .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services-section .services-block .container .service .info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-section .services-block .container .service .info-block .desc {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.services-section .services-block .container .service .info-block .desc .title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -3%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  color: #212121;
}
.services-section .services-block .container .service .info-block .desc .tarif {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  color: rgb(148, 148, 148);
}
.services-section .services-block .container .service.first {
  grid-column: span 3;
}

.why-section .why-block .container .title {
  grid-column: span 1;
}
.why-section .why-block .container .text {
  grid-column: span 3;
  font-weight: 500;
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -4%;
}
.why-section .why-block .container .info-block {
  grid-column: 2/span 4;
}
.why-section .why-block .container .info-block .item {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2.5rem;
  padding: 2.5rem 0;
  border-bottom: 0.0625rem solid #212121;
}
.why-section .why-block .container .info-block .item:last-child {
  border: 0;
}
.why-section .why-block .container .info-block .item .name {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: -4%;
}
.why-section .why-block .container .info-block .item .desc {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}

/*# sourceMappingURL=main.css.map */
