@charset "UTF-8";
.container {
  margin: 0 2.5rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 2.5rem;
}
@media (max-width: 768px) {
  .container {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}

.default-margin {
  padding: 2.5rem 0;
}

.button {
  display: flex;
  justify-content: center;
  height: fit-content;
  border-radius: 1000rem;
  text-align: center;
}
.button.small {
  padding: 1rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 130%;
  letter-spacing: -3%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}
.button.small.subdued {
  background-color: rgb(237, 237, 237);
  transition: background 0.3s ease-in-out;
}
.button.small.subdued:hover {
  background-color: rgb(219, 219, 219);
}
.button.small.primary {
  background-color: #212121;
  color: #FFFFFF;
  transition: 0.3s ease-in-out;
}
.button.small.primary:hover {
  background-color: #FFFFFF;
  color: #212121;
  outline: 0.0625rem solid #212121;
}
@media (max-width: 768px) {
  .button.small {
    padding: 0.5rem 1rem;
  }
}
.button.basic {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -3%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  padding: 1rem 4rem;
}
.button.basic.primary {
  background-color: #212121;
  color: #FFFFFF;
  transition: 0.3s ease-in-out;
}
.button.basic.primary:hover {
  background-color: #FFFFFF;
  color: #212121;
  outline: 0.0625rem solid #212121;
}
.button.rounded {
  font-weight: 500;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: -3%;
  padding: 2.1rem;
  border-radius: 10000rem;
  border: 0.0625rem solid rgb(184, 184, 184);
  aspect-ratio: 1/1;
  align-items: center;
  transition: border 0.3s ease-in-out;
}
.button.rounded:hover {
  border: 0.0625rem solid #212121;
}

.link {
  display: flex;
  gap: 0.25rem;
}
.link.basic.regular {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}
.link.basic.regular:hover {
  opacity: 0.75;
}
.link.subdued {
  color: rgb(184, 184, 184);
}
.link.subdued.regular {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}
.link.subdued.regular:hover {
  opacity: 0.75;
}

.title {
  grid-column: span 5;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  color: rgb(148, 148, 148);
}
@media (max-width: 768px) {
  .title {
    grid-column: span 2;
  }
}

button {
  background-color: none;
  border: 0;
  outline: 0;
}

.accordion-item {
  border-bottom: #212121 0.0625rem solid;
}

.accordion-content {
  display: none;
}

.burger-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 75%;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  padding-top: 70px;
}
.burger-nav.active {
  transform: translateX(0);
}

.burger-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  margin-left: 2rem;
}

.burger-item {
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
}
.burger-item a {
  display: block;
  height: 20px;
  background-color: #f0f0f0;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 999;
}
.menu-overlay.active {
  opacity: 1;
  visibility: visible;
}

* {
  cursor: none;
}

html {
  background-color: #fff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

body {
  color: #212121;
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
}

input,
textarea {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

.custom-cursor {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #212121;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out, background-color 0.1s ease;
  will-change: transform;
}
@media (max-width: 768px) {
  .custom-cursor {
    display: none;
  }
}

.cookie-notification {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #212121;
  color: white;
  padding: 15px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
  justify-content: end;
}
.cookie-notification .cookie-content {
  align-items: center;
}
.cookie-notification .cookie-content p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: -3%;
  grid-column: 2/span 3;
}
.cookie-notification .cookie-content .btn-block {
  display: flex;
  align-items: center;
  font-size: 3rem;
  gap: 2.5rem;
}

header .header-block .container {
  gap: 0;
}
header .header-block .container .header-nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
@media (max-width: 768px) {
  header .header-block .container .header-nav {
    display: none;
  }
}
header .header-block .container .contacts {
  grid-column: 4;
}
header .header-block .container .contacts ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
@media (max-width: 768px) {
  header .header-block .container .contacts {
    display: none;
  }
}
header .header-block .container .btn-block {
  display: flex;
  justify-content: end;
}
@media (max-width: 768px) {
  header .header-block .container .btn-block {
    display: none;
  }
}
header .header-block .container .mobile-header-nav {
  display: none;
}
@media (max-width: 768px) {
  header .header-block .container .mobile-header-nav {
    display: block;
  }
}
header .header-block .container .mobile-header-nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: end;
}

footer .footer-block {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media (max-width: 768px) {
  footer .footer-block .container {
    row-gap: 4rem;
  }
}
footer .footer-block .container .item {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
}
footer .footer-block .container .item ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
footer .footer-block .container .item ul li a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
footer .footer-block .container .item.nav {
  grid-column: 4;
}
@media (max-width: 768px) {
  footer .footer-block .container .item.nav {
    grid-column: 2/span 2;
  }
}
footer .footer-block .container .item .name {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -3%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}
footer .footer-block .container .year {
  grid-column: 5;
  justify-content: end;
}
@media (max-width: 768px) {
  footer .footer-block .container .year {
    grid-column: span 1;
    align-items: end;
  }
}
@media (max-width: 768px) {
  footer .footer-block .container .terms {
    justify-content: end;
  }
}
footer .footer-block .sliding-text-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 10rem;
}
@media (max-width: 768px) {
  footer .footer-block .sliding-text-container {
    height: 6rem;
  }
}
footer .footer-block .sliding-text {
  position: absolute;
  white-space: nowrap;
  animation: slideLeft 20s linear infinite;
  font-weight: 500;
  font-size: 8rem;
  line-height: 100%;
  letter-spacing: -4%;
}
@media (max-width: 768px) {
  footer .footer-block .sliding-text {
    font-size: 5.33333rem;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    left: 100%;
  }
  100% {
    transform: translateX(-100%);
    left: 0;
  }
}
footer .footer-block .line {
  display: flex;
  height: 0.0625rem;
  background-color: #212121;
}
footer .footer-block .sliding-name span {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -3%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  grid-column: span 5;
}

.hero-section .hero-block .container .hero-title {
  font-weight: 500;
  font-size: 8rem;
  line-height: 100%;
  letter-spacing: -4%;
}
@media (max-width: 768px) {
  .hero-section .hero-block .container .hero-title {
    font-size: 5.33333rem;
  }
}
.hero-section .hero-block .container .hero-title.top {
  grid-column: 2/span 4;
}
@media (max-width: 768px) {
  .hero-section .hero-block .container .hero-title.top {
    grid-column: span 2;
  }
}
.hero-section .hero-block .container .hero-title.bottom {
  grid-column: span 5;
}
@media (max-width: 768px) {
  .hero-section .hero-block .container .hero-title.bottom {
    grid-column: span 2;
  }
}
@media (max-width: 768px) {
  .hero-section .hero-block .container .hero-title {
    grid-column: span 2;
  }
}
.hero-section .hero-block .container .desc-block {
  grid-column: 3/span 3;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.hero-section .hero-block .container .desc-block .desc {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  max-width: 44.5rem;
}
.hero-section .hero-block .container .desc-block .button {
  flex: 1;
  padding: 1rem 0;
  display: flex;
}
@media (max-width: 768px) {
  .hero-section .hero-block .container .desc-block .button {
    display: none;
  }
}
@media (max-width: 768px) {
  .hero-section .hero-block .container .desc-block {
    grid-column: span 2;
  }
}
.hero-section .hero-block .container .hero-image {
  grid-column: span 5;
  max-width: 100%;
  margin-top: 1.5rem;
}
@media (max-width: 768px) {
  .hero-section .hero-block .container .hero-image {
    height: 44rem;
  }
}
.hero-section .hero-block .container .hero-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 768px) {
  .hero-section .hero-block .container .hero-image img {
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .hero-section .hero-block .container .hero-image {
    grid-column: span 2;
  }
}
.hero-section .hero-block .container .button {
  display: none;
}
@media (max-width: 768px) {
  .hero-section .hero-block .container .button {
    display: flex;
    grid-column: span 2;
  }
}

.services-section .services-block.page .service {
  grid-column: span 2 !important;
}
.services-section .services-block.page .service.first {
  grid-column: 2/span 2 !important;
}
@media (max-width: 768px) {
  .services-section .services-block.page .service.first {
    grid-column: span 2 !important;
  }
}
.services-section .services-block.page .service .img {
  aspect-ratio: 1/1;
}
.services-section .services-block.service-page .service {
  grid-column: span 2 !important;
}
.services-section .services-block.service-page .service.first {
  grid-column: 2/span 4 !important;
}
@media (max-width: 768px) {
  .services-section .services-block.service-page .service.first {
    grid-column: span 2 !important;
  }
}
.services-section .services-block.service-page .service .img {
  aspect-ratio: unset;
}
.services-section .services-block.service-page .name {
  grid-column: span 4 !important;
}
.services-section .services-block.service-page .name::after {
  display: none;
}
@media (max-width: 768px) {
  .services-section .services-block.service-page .name {
    grid-column: span 2 !important;
  }
}
.services-section .services-block.service-page .link span {
  color: rgb(184, 184, 184);
}
.services-section .services-block.service-page .accordion {
  grid-column: 2/span 4;
}
@media (max-width: 768px) {
  .services-section .services-block.service-page .accordion {
    grid-column: span 2 !important;
  }
}
.services-section .services-block.service-page .accordion .accordion-item .accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}
.services-section .services-block.service-page .accordion .accordion-item .accordion-header .title-block {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.services-section .services-block.service-page .accordion .accordion-item .accordion-header .title-block .count {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  color: rgb(184, 184, 184);
}
.services-section .services-block.service-page .accordion .accordion-item .accordion-header .title-block .title {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: -4%;
  color: #212121;
}
@media (max-width: 768px) {
  .services-section .services-block.service-page .accordion .accordion-item .accordion-header .title-block .title {
    font-size: 2.66666rem;
  }
}
.services-section .services-block.service-page .accordion .accordion-item .accordion-content {
  padding-bottom: 2.5rem;
}
.services-section .services-block.service-page .accordion .accordion-item .accordion-content p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}
.services-section .services-block.service-page .price {
  grid-column: 4;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}
.services-section .services-block.service-page .price .count {
  font-weight: 500;
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -4%;
}
@media (max-width: 768px) {
  .services-section .services-block.service-page .price .count {
    font-size: 3.3333rem;
  }
}
@media (max-width: 768px) {
  .services-section .services-block.service-page .price {
    grid-column: span 2 !important;
  }
}
.services-section .services-block.service-page .button {
  margin-top: 2.5rem;
}
.services-section .services-block .container .link {
  grid-column: span 1;
}
.services-section .services-block .container .name {
  grid-column: span 2;
  font-weight: 500;
  font-size: 8rem;
  line-height: 100%;
  letter-spacing: -4%;
  display: flex;
}
@media (max-width: 768px) {
  .services-section .services-block .container .name {
    font-size: 5.33333rem;
  }
}
.services-section .services-block .container .name::after {
  content: "2";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -3%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  color: rgb(184, 184, 184);
}
.services-section .services-block .container .service {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  grid-column: span 2;
}
.services-section .services-block .container .service .img {
  max-width: 100%;
  height: 100%;
}
.services-section .services-block .container .service .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services-section .services-block .container .service .info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-section .services-block .container .service .info-block .desc {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.services-section .services-block .container .service .info-block .desc .title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -3%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  color: #212121;
}
.services-section .services-block .container .service .info-block .desc .tarif {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  color: rgb(148, 148, 148);
}
.services-section .services-block .container .service.first {
  grid-column: span 3;
}
@media (max-width: 768px) {
  .services-section .services-block .container .service.first {
    grid-column: span 2;
  }
  .services-section .services-block .container .service.first .img {
    height: 37.5rem;
  }
}

.why-section .why-block .container .title {
  grid-column: span 1;
}
.why-section .why-block .container .text {
  grid-column: span 3;
  font-weight: 500;
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -4%;
}
@media (max-width: 768px) {
  .why-section .why-block .container .text {
    font-size: 3.3333rem;
  }
}
.why-section .why-block .container .info-block {
  grid-column: 2/span 4;
}
@media (max-width: 768px) {
  .why-section .why-block .container .info-block {
    grid-column: span 2;
  }
}
.why-section .why-block .container .info-block .item {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2.5rem;
  padding: 2.5rem 0;
  border-bottom: 0.0625rem solid #212121;
  position: relative;
}
.why-section .why-block .container .info-block .item:last-child {
  border: 0;
}
@media (max-width: 768px) {
  .why-section .why-block .container .info-block .item {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
}
.why-section .why-block .container .info-block .item .name {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: -4%;
}
@media (max-width: 768px) {
  .why-section .why-block .container .info-block .item .name {
    font-size: 2.66666rem;
  }
}
.why-section .why-block .container .info-block .item .desc {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}
.why-section .why-block .container .info-block .item .img {
  display: block;
  opacity: 0;
  width: 20rem;
  height: 20rem;
  position: absolute;
  top: 100%;
  left: 75%;
  z-index: 10;
  transition: opacity 0.3s ease-in-out;
}
.why-section .why-block .container .info-block .item .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 768px) {
  .why-section .why-block .container .info-block .item .img {
    display: none;
  }
}
.why-section .why-block .container .info-block .item:hover .img {
  opacity: 1;
}

.best-projects-section .best-projects-block .container {
  row-gap: 6rem;
}
@media (max-width: 768px) {
  .best-projects-section .best-projects-block .container {
    row-gap: 4rem;
  }
}
.best-projects-section .best-projects-block .container .title {
  grid-column: span 1;
}
@media (max-width: 768px) {
  .best-projects-section .best-projects-block .container .title {
    grid-column: span 1;
  }
}
.best-projects-section .best-projects-block .container .link {
  grid-column: 5;
  justify-content: end;
  align-items: start;
}
.best-projects-section .best-projects-block .container .link.start {
  grid-column: 1;
  justify-content: start;
}
.best-projects-section .best-projects-block .container .link.mobile {
  display: none;
  grid-column: span 1;
}
@media (max-width: 768px) {
  .best-projects-section .best-projects-block .container .link.mobile {
    display: flex;
  }
}
@media (max-width: 768px) {
  .best-projects-section .best-projects-block .container .link {
    display: none;
  }
}
.best-projects-section .best-projects-block .container .name {
  grid-column: 2/span 3;
  font-weight: 500;
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -4%;
}
@media (max-width: 768px) {
  .best-projects-section .best-projects-block .container .name {
    font-size: 3.3333rem;
  }
}
@media (max-width: 768px) {
  .best-projects-section .best-projects-block .container .name {
    grid-column: span 2;
  }
}
.best-projects-section .best-projects-block .container .holder {
  grid-column: 2/span 4;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2.5rem;
}
@media (max-width: 768px) {
  .best-projects-section .best-projects-block .container .holder {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
  }
}
.best-projects-section .best-projects-block .container .holder .item {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.best-projects-section .best-projects-block .container .holder .item:nth-of-type(2n) {
  margin-top: 8rem;
}
@media (max-width: 768px) {
  .best-projects-section .best-projects-block .container .holder .item:nth-of-type(2n) {
    margin-top: 0;
  }
}
.best-projects-section .best-projects-block .container .holder .item .img {
  max-width: 100%;
}
.best-projects-section .best-projects-block .container .holder .item .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.best-projects-section .best-projects-block .container .holder .item .info-block {
  display: flex;
  gap: 1.25rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -3%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}
.best-projects-section .best-projects-block .container .holder .item .info-block .desc {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.best-projects-section .best-projects-block .container .holder .item .info-block .desc .subtext {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 130%;
  letter-spacing: -3%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  color: rgb(184, 184, 184);
}

@media (max-width: 768px) {
  .testimonials-section .testimonials-block .container {
    row-gap: 4rem;
  }
}
.testimonials-section .testimonials-block .container .title {
  grid-column: 1/span 1;
}
@media (max-width: 768px) {
  .testimonials-section .testimonials-block .container .title {
    grid-column: span 1;
  }
}
.testimonials-section .testimonials-block .container .link {
  grid-column: 5/span 1;
  justify-content: end;
}
.testimonials-section .testimonials-block .container .link.start {
  justify-content: start;
  grid-column: 1;
}
@media (max-width: 768px) {
  .testimonials-section .testimonials-block .container .link {
    grid-column: span 2;
    justify-content: start;
  }
}
.testimonials-section .testimonials-block .container .name-title {
  font-weight: 500;
  font-size: 8rem;
  line-height: 100%;
  letter-spacing: -4%;
  display: flex;
}
@media (max-width: 768px) {
  .testimonials-section .testimonials-block .container .name-title {
    font-size: 5.33333rem;
  }
}
.testimonials-section .testimonials-block .container .name-title::after {
  content: "148";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -3%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  color: rgb(184, 184, 184);
}
@media (max-width: 768px) {
  .testimonials-section .testimonials-block .container .name-title::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .testimonials-section .testimonials-block .container .name-title {
    grid-column: span 2;
  }
}
.testimonials-section .testimonials-block .container .desc {
  grid-column: 1/span 2;
  font-weight: 500;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: -3%;
}
@media (max-width: 768px) {
  .testimonials-section .testimonials-block .container .desc {
    grid-column: span 2;
  }
}
.testimonials-section .testimonials-block .container .swiper-slide,
.testimonials-section .testimonials-block .container .item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: span 1;
}
.testimonials-section .testimonials-block .container .swiper-slide .top,
.testimonials-section .testimonials-block .container .item .top {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #212121;
}
.testimonials-section .testimonials-block .container .swiper-slide .top .count,
.testimonials-section .testimonials-block .container .item .top .count {
  display: flex;
  flex: 1;
  justify-content: end;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}
.testimonials-section .testimonials-block .container .swiper-slide .top .avatar,
.testimonials-section .testimonials-block .container .item .top .avatar {
  max-width: 6rem;
}
.testimonials-section .testimonials-block .container .swiper-slide .top .avatar img,
.testimonials-section .testimonials-block .container .item .top .avatar img {
  border-radius: 100rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials-section .testimonials-block .container .swiper-slide .top .info .name,
.testimonials-section .testimonials-block .container .item .top .info .name {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: -4%;
}
@media (max-width: 768px) {
  .testimonials-section .testimonials-block .container .swiper-slide .top .info .name,
  .testimonials-section .testimonials-block .container .item .top .info .name {
    font-size: 2.66666rem;
  }
}
.testimonials-section .testimonials-block .container .swiper-slide .top .info .date,
.testimonials-section .testimonials-block .container .item .top .info .date {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}
.testimonials-section .testimonials-block .container .swiper-slide .bottom,
.testimonials-section .testimonials-block .container .item .bottom {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}
.testimonials-section .testimonials-block .container .item-holder {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0;
  gap: 2.5rem;
  grid-column: 2/span 4;
}
@media (max-width: 768px) {
  .testimonials-section .testimonials-block .container .item-holder {
    grid-column: span 2;
  }
}
@media (max-width: 768px) {
  .testimonials-section .testimonials-block .container .item-holder .item {
    grid-column: span 2;
  }
}
.testimonials-section .testimonials-block .container .slider {
  grid-column: span 3;
  position: relative;
}
.testimonials-section .testimonials-block .container .slider::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  /* Это позволяет кликам проходить сквозь псевдоэлемент */
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 80%, #FFFFFF 100%);
}
.testimonials-section .testimonials-block .container .slider .testimonialsSwiper {
  width: 100%;
  position: relative;
  z-index: 1;
}
.testimonials-section .testimonials-block .container .slider .btn-block {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 2.5rem;
}
.testimonials-section .testimonials-block .container .slider .btn-block .swiper-btn {
  display: flex;
  padding: 1.25rem;
  border: 0.0625rem rgb(184, 184, 184) solid;
  border-radius: 1000rem;
  cursor: pointer;
}

.welcome-section .welcome-block .container .info-block {
  grid-column: 2/span 3;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
@media (max-width: 768px) {
  .welcome-section .welcome-block .container .info-block {
    grid-column: span 2;
  }
}
.welcome-section .welcome-block .container .info-block .name {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: -4%;
}
@media (max-width: 768px) {
  .welcome-section .welcome-block .container .info-block .name {
    font-size: 2.66666rem;
  }
}
.welcome-section .welcome-block .container .info-block .text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}
.welcome-section .welcome-block .container .info-block .qa {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}
.welcome-section .welcome-block .container .info-block .qa .q {
  font-weight: 500;
}
.welcome-section .welcome-block .container .info-block .qa span {
  font-weight: 500;
}
.welcome-section .welcome-block .container .info-block ul {
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 2rem;
}
.welcome-section .welcome-block .container .info-block ul li {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}
.welcome-section .welcome-block .container .info-block.welcome .name {
  font-weight: 500;
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -4%;
}
@media (max-width: 768px) {
  .welcome-section .welcome-block .container .info-block.welcome .name {
    font-size: 3.3333rem;
  }
}
.welcome-section .welcome-block .container .info-block.sub .name {
  font-weight: 500;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: -3%;
}
.welcome-section .welcome-block .container .info-block.custom ul {
  margin: 2rem 0;
  margin-left: 2rem;
  list-style-type: disc;
}

.form-section.modal .form-block .container .name {
  font-weight: 500;
  font-size: 8rem;
  line-height: 100%;
  letter-spacing: -4%;
  grid-column: span 2;
}
@media (max-width: 768px) {
  .form-section.modal .form-block .container .name {
    font-size: 5.33333rem;
  }
}
.form-section .form-block .container .name-block {
  grid-column: span 5;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 0;
}
@media (max-width: 768px) {
  .form-section .form-block .container .name-block {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
  }
}
.form-section .form-block .container .name-block .name {
  font-weight: 500;
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -4%;
}
@media (max-width: 768px) {
  .form-section .form-block .container .name-block .name {
    font-size: 3.3333rem;
  }
}
.form-section .form-block .container .name-block .name.top {
  grid-column: 2/span 4;
}
@media (max-width: 768px) {
  .form-section .form-block .container .name-block .name.top {
    grid-column: span 2;
  }
}
.form-section .form-block .container .name-block .name.bottom {
  grid-column: 3/span 2;
}
@media (max-width: 768px) {
  .form-section .form-block .container .name-block .name.bottom {
    grid-column: span 2;
  }
}
@media (max-width: 768px) {
  .form-section .form-block .container .name-block .name {
    grid-column: span 2;
  }
}
.form-section .form-block .container .title {
  grid-column: 1/span 1;
}
@media (max-width: 768px) {
  .form-section .form-block .container .title {
    display: none;
  }
}
.form-section .form-block .container .form {
  grid-column: 3/span 3;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2.5rem;
  row-gap: 0;
  align-items: center;
}
@media (max-width: 768px) {
  .form-section .form-block .container .form {
    grid-column: span 2;
    row-gap: 1rem;
  }
}
.form-section .form-block .container .form input,
.form-section .form-block .container .form textarea {
  padding: 1rem 0;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  border-bottom: 0.0625rem solid #212121;
  grid-column: span 3;
}
.form-section .form-block .container .form input:placeholder,
.form-section .form-block .container .form textarea:placeholder {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  text-align: start;
}
.form-section .form-block .container .form input.message,
.form-section .form-block .container .form textarea.message {
  height: 12rem;
  resize: none;
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  .form-section .form-block .container .form .button {
    grid-column: span 3;
  }
}
.form-section .form-block .container .form .confirm {
  grid-column: span 1;
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
  letter-spacing: -1%;
  color: rgb(148, 148, 148);
}
@media (max-width: 768px) {
  .form-section .form-block .container .form .confirm {
    grid-column: span 3;
    text-align: center;
  }
}

.employees-section .employees-block .container .title {
  grid-column: 1/span 1;
}
@media (max-width: 768px) {
  .employees-section .employees-block .container .title {
    grid-column: span 2;
  }
}
.employees-section .employees-block .container .name {
  grid-column: 2/span 2;
  font-weight: 500;
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -4%;
  text-align: end;
}
@media (max-width: 768px) {
  .employees-section .employees-block .container .name {
    font-size: 3.3333rem;
  }
}
@media (max-width: 768px) {
  .employees-section .employees-block .container .name {
    grid-column: span 2;
    text-align: start;
  }
}
.employees-section .employees-block .container .desc {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  grid-column: 2/span 2;
}
@media (max-width: 768px) {
  .employees-section .employees-block .container .desc {
    grid-column: span 2;
  }
}
.employees-section .employees-block .container .desc::before {
  content: "                                                                ";
}
.employees-section .employees-block .container .card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.employees-section .employees-block .container .card.first {
  grid-column: 1/span 1;
}
@media (max-width: 768px) {
  .employees-section .employees-block .container .card.first {
    grid-column: span 1;
  }
}
.employees-section .employees-block .container .card .img {
  max-width: 100%;
  aspect-ratio: 1/1.4;
  overflow: hidden;
}
.employees-section .employees-block .container .card .img img {
  scale: 1.25;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.employees-section .employees-block .container .card .info-block .name {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -3%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  text-align: unset;
}
.employees-section .employees-block .container .card .info-block .office {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -3%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  color: rgb(184, 184, 184);
}
@media (max-width: 768px) {
  .employees-section .employees-block .container .card {
    display: none;
  }
}
.employees-section .employees-block .container .slider {
  display: none;
  grid-column: span 2;
}
@media (max-width: 768px) {
  .employees-section .employees-block .container .slider {
    display: block;
  }
}
.employees-section .employees-block .container .slider .card {
  display: flex;
}

.about-section .about-block .container .link {
  grid-column: span 1;
}
@media (max-width: 768px) {
  .about-section .about-block .container .link {
    grid-column: span 2;
  }
}
.about-section .about-block .container .name {
  grid-column: span 2;
  font-weight: 500;
  font-size: 8rem;
  line-height: 100%;
  letter-spacing: -4%;
  display: flex;
}
@media (max-width: 768px) {
  .about-section .about-block .container .name {
    font-size: 5.33333rem;
  }
}
.about-section .about-block .container .name::after {
  content: "(2017-2024)";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -3%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  color: rgb(184, 184, 184);
}
@media (max-width: 768px) {
  .about-section .about-block .container .name {
    grid-column: span 2;
  }
}
.about-section .about-block .container .space {
  grid-column: 1;
}
.about-section .about-block .container .text {
  grid-column: span 5;
  font-weight: 500;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: -3%;
}
@media (max-width: 768px) {
  .about-section .about-block .container .text {
    grid-column: span 2;
  }
}
.about-section .about-block .container .text span {
  margin-left: 23.5rem;
}
@media (max-width: 768px) {
  .about-section .about-block .container .text span {
    margin: 0;
  }
}
.about-section .about-block .container .desc-block .img {
  max-width: 100%;
  aspect-ratio: 1/1;
}
.about-section .about-block .container .desc-block .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-section .about-block .container .desc-block .text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}
.about-section .about-block .container .desc-block .text::before {
  content: "          ";
}
@media (max-width: 768px) {
  .about-section .about-block .container .desc-block .text::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .about-section .about-block .container .desc-block {
    grid-column: span 2;
  }
}
.about-section .about-block .container .img {
  max-width: 100%;
  aspect-ratio: 1/2.12;
}
.about-section .about-block .container .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-section .about-block .container .img.left {
  margin-top: 16rem;
  grid-column: 3;
}
@media (max-width: 768px) {
  .about-section .about-block .container .img.left {
    margin-top: 10.6rem;
  }
}
@media (max-width: 768px) {
  .about-section .about-block .container .img {
    grid-column: span 1 !important;
  }
}

.privacy-section .privacy-block .container .name {
  font-weight: 500;
  font-size: 8rem;
  line-height: 100%;
  letter-spacing: -4%;
  grid-column: 2/span 3;
}
@media (max-width: 768px) {
  .privacy-section .privacy-block .container .name {
    font-size: 5.33333rem;
  }
}
@media (max-width: 768px) {
  .privacy-section .privacy-block .container .name {
    grid-column: span 2;
  }
}
@media (max-width: 768px) {
  .privacy-section .privacy-block .container .name .link {
    grid-column: span 2;
  }
}
.privacy-section .privacy-block .container .privacy-holder {
  grid-column: 2/span 3;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2.5rem;
}
.privacy-section .privacy-block .container .privacy-holder .privacy {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}
.privacy-section .privacy-block .container .privacy-holder .privacy span {
  font-weight: 500;
}
@media (max-width: 768px) {
  .privacy-section .privacy-block .container .privacy-holder {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.status-section {
  background-image: url("../images/img/404-bg.png");
  filter: saturate(25%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status-section.success {
  background-image: url("../images/img/success-bg.png");
  filter: unset;
}
@media (max-width: 768px) {
  .status-section.success {
    background-image: url("../images/img/success-bg-mobile.png");
    background-position: 15% 15%;
  }
}
@media (max-width: 768px) {
  .status-section .status-block {
    height: 100%;
    display: flex;
    align-items: end;
    padding-bottom: 1rem;
  }
}
.status-section .status-block .container .info-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  grid-column: 2/span 3;
  text-align: center;
}
@media (max-width: 768px) {
  .status-section .status-block .container .info-block {
    grid-column: span 2;
    height: 50vh;
  }
}
.status-section .status-block .container .info-block .link {
  text-decoration: underline;
}
.status-section .status-block .container .info-block .name {
  font-weight: 500;
  font-size: 8rem;
  line-height: 100%;
  letter-spacing: -4%;
}
@media (max-width: 768px) {
  .status-section .status-block .container .info-block .name {
    font-size: 5.33333rem;
  }
}
.status-section .status-block .container .info-block .desc {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -2%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}
.status-section .status-block .container .button {
  grid-column: 3/span 1;
}
@media (max-width: 768px) {
  .status-section .status-block .container .button {
    grid-column: span 2;
  }
}

.contacts-section .contacts-block .container .map {
  grid-column: 2/span 4;
}
.contacts-section .contacts-block .container .map iframe {
  width: 100%;
  height: 44.5rem;
}
@media (max-width: 768px) {
  .contacts-section .contacts-block .container .map {
    grid-column: span 2;
  }
}
.contacts-section .contacts-block .container .name {
  font-weight: 500;
  font-size: 8rem;
  line-height: 100%;
  letter-spacing: -4%;
}
@media (max-width: 768px) {
  .contacts-section .contacts-block .container .name {
    font-size: 5.33333rem;
  }
}
@media (max-width: 768px) {
  .contacts-section .contacts-block .container .name {
    grid-column: span 2;
  }
}

.articles-section .articles-block .container .name {
  font-weight: 500;
  font-size: 8rem;
  line-height: 100%;
  letter-spacing: -4%;
  display: flex;
}
@media (max-width: 768px) {
  .articles-section .articles-block .container .name {
    font-size: 5.33333rem;
  }
}
.articles-section .articles-block .container .name::after {
  content: "52";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -3%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  color: rgb(184, 184, 184);
}
@media (max-width: 768px) {
  .articles-section .articles-block .container .name {
    grid-column: span 2;
  }
}
.articles-section .articles-block .container .card-holder {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0;
  gap: 2.5rem;
  grid-column: 2/span 4;
}
@media (max-width: 768px) {
  .articles-section .articles-block .container .card-holder {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
.articles-section .articles-block .container .card-holder .card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.articles-section .articles-block .container .card-holder .card .img {
  height: 22.25rem;
}
.articles-section .articles-block .container .card-holder .card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.articles-section .articles-block .container .card-holder .card .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.articles-section .articles-block .container .card-holder .btn-block {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.article-section .article-block .container {
  gap: 4rem;
}
.article-section .article-block .container .link {
  align-items: start;
}
.article-section .article-block .container .name {
  font-weight: 500;
  font-size: 8rem;
  line-height: 100%;
  letter-spacing: -4%;
  display: flex;
  grid-column: 2/span 4;
}
@media (max-width: 768px) {
  .article-section .article-block .container .name {
    font-size: 5.33333rem;
  }
}
@media (max-width: 768px) {
  .article-section .article-block .container .name {
    grid-column: span 2;
  }
}
.article-section .article-block .container .img {
  height: 43.75rem;
  grid-column: 2/span 4;
}
@media (max-width: 768px) {
  .article-section .article-block .container .img {
    grid-column: span 2;
  }
}
.article-section .article-block .container .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-section .article-block .container .desc-block {
  grid-column: 2/span 4;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 768px) {
  .article-section .article-block .container .desc-block {
    grid-column: span 2;
  }
}
.article-section .article-block .container .desc-block .desc {
  font-weight: 500;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: -3%;
}

.interior-section .interior-block .container .name {
  grid-column: 2/span 2;
  font-weight: 500;
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -4%;
}
@media (max-width: 768px) {
  .interior-section .interior-block .container .name {
    font-size: 3.3333rem;
  }
}
@media (max-width: 768px) {
  .interior-section .interior-block .container .name {
    grid-column: span 2;
  }
}
.interior-section .interior-block .container .slider {
  grid-column: 2/span 4;
}
@media (max-width: 768px) {
  .interior-section .interior-block .container .slider {
    grid-column: span 2;
  }
}
.interior-section .interior-block .container .slider .interiorSwiper .swiper-slide {
  height: 43.5rem;
}
@media (max-width: 768px) {
  .interior-section .interior-block .container .slider .interiorSwiper .swiper-slide {
    height: 35rem;
  }
}
.interior-section .interior-block .container .slider .interiorSwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.interior-section .interior-block .container .slider .interiorSwiper .swiper-button-next,
.interior-section .interior-block .container .slider .interiorSwiper .swiper-button-prev {
  padding: 1rem 1.5rem;
  border-radius: 1000rem;
  border: 0.0625rem rgb(184, 184, 184) solid;
  border-radius: 1000rem;
  background-color: #FFFFFF;
  cursor: none;
}
.interior-section .interior-block .container .slider .interiorSwiper .swiper-button-next::after,
.interior-section .interior-block .container .slider .interiorSwiper .swiper-button-prev::after {
  font-size: 0;
}
@media (max-width: 768px) {
  .interior-section .interior-block .container .slider .interiorSwiper .swiper-button-next,
  .interior-section .interior-block .container .slider .interiorSwiper .swiper-button-prev {
    display: none;
  }
}
.interior-section .interior-block .container .slider .interiorSwiper .swiper-pagination .swiper-pagination-bullet {
  transition: 0.3s;
  height: 0.75rem;
  width: 0.75rem;
  margin: 0 0.75rem;
  background: #FFFFFF;
  opacity: 1;
  cursor: none;
}
.interior-section .interior-block .container .slider .interiorSwiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 2.5rem;
  border-radius: 1rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 999;
}
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-container {
  background-color: white;
  width: 100%;
  max-width: 100vw;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
  max-height: 75vh;
  height: 100%;
  overflow-y: auto;
}
.active .modal-container {
  transform: translateY(0);
}
@media (max-width: 768px) {
  .modal-container {
    max-height: 100vh;
    border-radius: 0;
  }
}

.modal-header {
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.close-modal-btn {
  background: none;
}

/*# sourceMappingURL=main.css.map */
